.container {
  display: flex;
  justify-content: center;
}

.footer, .container__menuPalette li, .container__menuPalette .title, .container__menuPapilles li, .container__menuPapilles .title, .container__menuEnchantee li, .container__menuEnchantee .title, .container .container__menuChic li, .container .container__menuChic .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__soon--div, .section__soon, .section__menu--palette, .section__menu--papilles, .section__menu--chic, .section__menu--enchantee, .section__menu--bloc, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: content-box;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

span {
  font-weight: bold;
}

a {
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
  color: unset;
}

.fa-music {
  color: unset;
  background-image: linear-gradient(to right, #c86817, #FF9800);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media screen and (max-width: 599px) {
  .fa-music {
    display: none;
  }
}

/*-----------------------------
            ANIMATIONS
------------------------------*/
.section__menu--palette a, .section__menu--papilles a, .section__menu--chic a, .section__menu--enchantee a {
  box-sizing: border-box;
  transform: scale(1);
  transition: transform 800ms;
  animation-timing-function: ease-in-out;
}
.section__menu--palette a:hover, .section__menu--papilles a:hover, .section__menu--chic a:hover, .section__menu--enchantee a:hover {
  transform: scale(1.15);
  opacity: 0.5;
}

.footer__contactUs, .footer__legalNotice {
  color: #ffc34e;
  font-size: 18px;
  animation: move__animation__footer 1000ms ease-in-out;
  -moz-animation: move__animation__footer 1000ms ease-in-out;
  -webkit-animation: move__animation__footer 1000ms ease-in-out;
}
.footer__contactUs:hover, .footer__legalNotice:hover {
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}

@keyframes move__animation__footer {
  5%, 100% {
    transform: translate3d(-1px, 0, 0);
    -moz-transform: translate3d(-1px, 0, 0);
    -webkit-transform: translate3d(-1px, 0, 0);
  }
  15%, 90% {
    transform: translate3d(1px, 0, 0);
    -moz-transform: translate3d(1px, 0, 0);
    -webkit-transform: translate3d(1px, 0, 0);
  }
  25%, 80% {
    transform: translate3d(-2px, 0, 0);
    -moz-transform: translate3d(-2px, 0, 0);
    -webkit-transform: translate3d(-2px, 0, 0);
  }
  35%, 70% {
    transform: translate3d(2px, 0, 0);
    -moz-transform: translate3d(2px, 0, 0);
    -webkit-transform: translate3d(2px, 0, 0);
  }
  45%, 60% {
    transform: translate3d(-3px, 0, 0);
    -moz-transform: translate3d(-3px, 0, 0);
    -webkit-transform: translate3d(-3px, 0, 0);
  }
  55%, 50% {
    transform: translate3d(3px, 0, 0);
    -moz-transform: translate3d(3px, 0, 0);
    -webkit-transform: translate3d(3px, 0, 0);
  }
}
.section__soon .animation__point-one {
  animation: one 1000ms ease-in 100ms infinite;
  -webkit-animation: one 1000ms ease-in 100ms infinite;
  -moz-animation: one 1000ms ease-in 100ms infinite;
}

@keyframes one {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.section__soon .animation__point-two {
  animation: two 1000ms ease-in 400ms infinite;
  -webkit-animation: two 1000ms ease-in 400ms infinite;
  -moz-animation: two 1000ms ease-in 400ms infinite;
}

@keyframes two {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.section__soon .animation__point-three {
  animation: three 1000ms ease-in 700ms infinite;
  -webkit-animation: three 1000ms ease-in 700ms infinite;
  -moz-animation: three 1000ms ease-in 700ms infinite;
}

@keyframes three {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.container__menuPalette .heading-three-palette::after, .container__menuPapilles .heading-three-papilles-1::after, .container__menuPapilles .heading-three-papilles-2::after, .container__menuPapilles .heading-three-papilles-3::after, .container__menuEnchantee .heading-three::after, .container .container__menuChic .third-heading::after, .container .container__menuChic .second-heading::after, .container .container__menuChic .first-heading::after {
  content: "";
  width: auto;
  height: 2px;
  display: block;
  transform: scaleX(0);
  transition: 400ms;
  transform-origin: 0%;
  transition-timing-function: ease-out;
}
.container__menuPalette .heading-three-palette:hover::after, .container__menuPapilles .heading-three-papilles-1:hover::after, .container__menuPapilles .heading-three-papilles-2:hover::after, .container__menuPapilles .heading-three-papilles-3:hover::after, .container__menuEnchantee .heading-three:hover::after, .container .container__menuChic .third-heading:hover::after, .container .container__menuChic .second-heading:hover::after, .container .container__menuChic .first-heading:hover::after {
  transform: scaleX(1);
}

/*-----------------------------
            ANIMATIONS END
------------------------------*/
header {
  width: 100%;
  height: 100px;
  background-color: #42927d;
  margin-bottom: 20px;
}
header h1 {
  font-size: 2em;
  color: #ffc34e;
  cursor: pointer;
}

.section__menu--enchantee {
  width: 200px;
  height: 300px;
  margin: 1em;
  align-self: center;
  box-shadow: 1px 1px 5px 1px rgba(190, 184, 184, 0.75);
  background-color: #ffdad7;
  color: #330000;
}
.section__menu--enchantee h2 {
  font-family: "Kalam", cursive;
  font-weight: 800 !important;
}
.section__menu--enchantee p {
  font-family: "Devonshire", cursive;
  font-weight: 800 !important;
}
.section__menu--chic {
  width: 200px;
  height: 300px;
  margin: 1em;
  align-self: center;
  box-shadow: 1px 1px 5px 1px rgba(190, 184, 184, 0.75);
  background-color: rgba(243, 229, 245, 0.5);
}
.section__menu--chic h2 {
  color: #c86817;
  font-weight: 800 !important;
}
.section__menu--chic p {
  font-size: 0.8em;
  font-family: "Croissant One", cursive;
  background: linear-gradient(to right, #c86817, #673AB7);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.section__menu--papilles {
  width: 200px;
  height: 300px;
  margin: 1em;
  align-self: center;
  box-shadow: 1px 1px 5px 1px rgba(190, 184, 184, 0.75);
  background-color: rgba(227, 242, 253, 0.3);
}
.section__menu--papilles h2 {
  color: #2b9ef5;
  font-family: "Kalam", cursive;
}
.section__menu--papilles p {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to right, #0d33d9, #2b9ef5);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.section__menu--palette {
  width: 200px;
  height: 300px;
  margin: 1em;
  align-self: center;
  box-shadow: 1px 1px 5px 1px rgba(190, 184, 184, 0.75);
  background-color: rgba(232, 245, 233, 0.3);
}
.section__menu--palette h2 {
  color: #4caf50;
  font-family: "Kalam", cursive;
  padding: 0px;
}
.section__menu--palette p {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, #4caf50, #C8E6C9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media screen and (max-width: 599px) {
  .section__menu .section__menu--bloc {
    display: block;
  }
  .section__menu .section__menu--chic, .section__menu .section__menu--enchantee, .section__menu .section__menu--palette, .section__menu .section__menu--papilles {
    width: 90%;
    height: 100px;
  }
}

/*---------SECTION PROCHAINEMENT--------*/
.section__soon {
  width: 100%;
  height: 140px;
  align-self: center;
  margin-bottom: 40px;
}
.section__soon--div {
  width: 240px;
  height: 50px;
  background-color: #42927d;
  color: #ffc34e;
  font-size: 1.5rem;
  border-radius: 10px;
  align-self: center;
}
.container .container__menuChic {
  width: 50%;
  height: 100%;
  padding: 3em;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px 1px rgba(190, 184, 184, 0.75);
  background-color: rgba(243, 229, 245, 0.5);
  font-family: "Times New Roman", Times, sans-serif;
}
@media screen and (max-width: 599px) {
  .container .container__menuChic {
    width: 90%;
    height: auto;
    padding: 0;
  }
}
@media screen and (max-width: 850px) {
  .container .container__menuChic {
    width: 90%;
    padding: 0;
  }
}
.container .container__menuChic h2 {
  font-size: 2rem;
  font-family: "Croissant One", cursive;
  background: linear-gradient(to right, #c86817, #673AB7);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.container .container__menuChic .title .img-title {
  width: 30%;
  height: 25px;
}
.container .container__menuChic .first-heading, .container .container__menuChic .first-block {
  color: #b95909;
}
.container .container__menuChic .first-heading::after {
  border-bottom: 2px solid #b95909;
}
.container .container__menuChic .second-heading, .container .container__menuChic .second-block {
  color: #a078a7;
}
.container .container__menuChic .second-heading::after {
  border-bottom: 2px solid #a078a7;
}
.container .container__menuChic .third-heading, .container .container__menuChic .third-block {
  color: rgba(82, 45, 168, 0.575);
}
.container .container__menuChic .third-heading::after {
  border-bottom: 2px solid rgba(82, 45, 168, 0.575);
}
@media screen and (max-width: 850px) {
  .container .container__menuChic li {
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
  }
}

.container__menuEnchantee {
  background-color: #ffdad7;
  color: #330000;
  width: 50%;
  height: 100%;
  padding: 3em;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px 1px rgba(190, 184, 184, 0.75);
}
@media screen and (max-width: 599px) {
  .container__menuEnchantee {
    width: 90%;
    height: auto;
    padding: 0;
  }
}
@media screen and (max-width: 850px) {
  .container__menuEnchantee {
    width: 90%;
    padding: 0;
  }
}
.container__menuEnchantee h2 {
  font-size: 3rem;
  font-family: "Devonshire", cursive;
  font-weight: 800 !important;
}
@media screen and (max-width: 599px) {
  .container__menuEnchantee h2 {
    font-size: 25px;
  }
}
.container__menuEnchantee .title .img-title {
  width: 30%;
  height: 25px;
}
.container__menuEnchantee .heading-three {
  font-family: "Kalam", cursive;
}
.container__menuEnchantee .heading-three::after {
  border-bottom: 2px solid #330000;
}
.container__menuEnchantee li {
  font-family: "Kalam", cursive;
}
@media screen and (max-width: 850px) {
  .container__menuEnchantee li {
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
  }
}
.container__menuEnchantee .div-fa-music {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container__menuPapilles {
  width: 50%;
  height: 100%;
  padding: 3em;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px 1px rgba(190, 184, 184, 0.75);
  background-color: rgba(227, 242, 253, 0.3);
}
@media screen and (max-width: 599px) {
  .container__menuPapilles {
    width: 90%;
    height: auto;
    padding: 0;
  }
}
@media screen and (max-width: 850px) {
  .container__menuPapilles {
    width: 90%;
    padding: 0;
  }
}
.container__menuPapilles h2 {
  font-size: 4em;
  color: #0d33d9;
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to right, #0d33d9, #2b9ef5);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media screen and (max-width: 599px) {
  .container__menuPapilles h2 {
    font-size: 2em;
  }
}
.container__menuPapilles .title .img-title {
  width: 30%;
  height: 25px;
}
.container__menuPapilles .heading-three-papilles-1, .container__menuPapilles .heading-three-papilles-2, .container__menuPapilles .heading-three-papilles-3 {
  font-family: "Kalam", cursive;
}
.container__menuPapilles .heading-three-papilles-1::after {
  border-bottom: 2px solid #0d33d9;
}
.container__menuPapilles .heading-three-papilles-2::after {
  border-bottom: 2px solid #1774ef;
}
.container__menuPapilles .heading-three-papilles-3::after {
  border-bottom: 2px solid #2b9ef5;
}
.container__menuPapilles li {
  font-family: "Kalam", cursive;
}
@media screen and (max-width: 850px) {
  .container__menuPapilles li {
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
  }
}

.container__menuPalette {
  width: 50%;
  height: 100%;
  padding: 3em;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px 1px rgba(190, 184, 184, 0.75);
  background-color: rgba(232, 245, 233, 0.3);
}
@media screen and (max-width: 599px) {
  .container__menuPalette {
    width: 90%;
    height: auto;
    padding: 0;
  }
}
@media screen and (max-width: 850px) {
  .container__menuPalette {
    width: 90%;
    padding: 0;
  }
}
.container__menuPalette h2 {
  font-size: 4rem;
  font-family: "Kaushan Script", cursive;
  background-image: linear-gradient(to right, #4caf50, #C8E6C9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.container__menuPalette .title .img-title {
  width: 30%;
  height: 25px;
}
.container__menuPalette .heading-three-palette {
  font-family: "Kalam", cursive;
}
.container__menuPalette .heading-three-palette::after {
  border-bottom: 2px solid #4caf50;
}
.container__menuPalette li {
  font-family: "Kalam", cursive;
}
@media screen and (max-width: 850px) {
  .container__menuPalette li {
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
  }
}

/*-----------------------------
            FOOTER
------------------------------*/
.footer {
  width: 100%;
  height: 50px;
  background-color: #42927d;
  position: fixed;
  bottom: 0;
}
.footer__legalNotice {
  margin: 5px;
}
.footer__contactUs {
  margin: 5px;
}

/*# sourceMappingURL=style.css.map */
