.container{
    width: 50%;
    height: 100%;   
    padding: 5em;
    box-shadow: 1px 1px grey;
    margin:0 auto;
    box-shadow: 2px 2px 2px  rgba(175, 172, 172, 0.931);
    h3{
        padding: 1em;
        font-size: 14px;
    }
 
    li{
        padding: 0.5em;
        list-style: none;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
}