.container {
  @extend %flex-justify-center;
  &__menuPalette {
    // STYLE PAGE MENU PALETTE DU GOUT
    @include stylePages__menu;
    background-color: $bg-menu-palette;
    h2 {
      font-size: map-get($font-size, headingPalette);
      font-family: "Kaushan Script", cursive;
      background-image: linear-gradient(to right, $color-menu-palette, #c8e6c9);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
    .title {
      @extend %flex-justify-space-between-align-center;
      .img-title {
        @include size(30%, 25px);
      }
    }
    .heading-three-palette {
      font-family: $font-kalam;
      &::after {
        @extend %border-bottom-animation;
        border-bottom: 2px solid $color-menu-palette;
      }
    }
    li {
      @extend %flex-justify-space-between-align-center;
      font-family: $font-kalam;
      @include forTablet {
        display: block;
        text-align: center;
        @include size(100%, auto);
      }
    }
  }
}
