.container{
    display: flex;
    justify-content: center;
    &__menuPalette{ // STYLE PAGE MENU PALETTE DU GOUT
        @include stylePages__menu; 
        background-color:$bg-menu-palette;
        h2{
            font-size: map-get($font-size, headingPalett );
            font-family: 'Kaushan Script', cursive;
            background-image:linear-gradient(to right, $color-menu-palette, #C8E6C9);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .img-title{
                width: 30%;
                height: 25px;
            }
        }
        .heading-three-palette{
            font-family:$font-kalam; 
            &::after{
                @extend %border-bottom-animation;
                border-bottom: 2px solid $color-menu-palette;
            }
        }
        li{ 
            @include stylePages__li;
            font-family: $font-kalam;
        }
        
    }
}