
.section__menu{
    &--bloc{
        @extend %flex-justify-align-center;
    }
    &--enchantee{
        @include menu__style;
        @extend %flex-justify-align-center;
        background-color: $bg-menu-enchantee;
        color: $color-menu-enchantee;
        h2{
            font-family: $font-kalam;
            font-weight: $dark-font;
        }
        a{  
            @extend %zoom_animation;
        }
        p{
            font-family: $devonshire;
            font-weight: $dark-font;
        }
    }

    &--chic{
        @include menu__style;
        @extend %flex-justify-align-center;
        background-color: $bg-menu-chic;
        h2{
            color: $color-menu-chic;
            font-weight: $dark-font;
        }
        p{
            font-size: 0.8em;
            font-family: 'Croissant One', cursive;
            background:linear-gradient(to right, $color-menu-chic, #673AB7);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            
        }
        a{  
            @extend %zoom_animation;
        }
    }
      
    &--papilles{
        @include menu__style;
        @extend %flex-justify-align-center;
        background-color: $bg-menu-papilles;
        h2{
            color: $color-menu-papilles-2;
            font-family: $font-kalam;
        }
        p{
            font-family: 'Dancing Script', cursive;
            background:linear-gradient(to right, $color-menu-papilles, $color-menu-papilles-2);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;

        }
        a{  
            @extend %zoom_animation;
        }
    }
    
    &--palette{
        @include menu__style;
        @extend %flex-justify-align-center;
        background-color: $bg-menu-palette;
        h2{
            color: $color-menu-palette;
            font-family: $font-kalam;
            padding: 0px;
        }
        p{
            font-family: 'Kaushan Script', cursive;
            background:linear-gradient(to right, $color-menu-palette, #C8E6C9);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
        a{  
            @extend %zoom_animation;
        }

    }
    @include forMobile {
        .section__menu{
            &--bloc{
                display: block;
            }
            &--chic, &--enchantee, &--palette, &--papilles{
                @include size(90%, 160px);
            }
        }
    }
}

/*---------SECTION PROCHAINEMENT--------*/
.section__soon{
    @include size(100%, 140px);
    @extend %flex-justify-align-center;
    align-self: center;
    margin-bottom: 40px;
    &--div{
        @include size(240px, 50px);
        background-color: $main-color;
        color: $second-color;
        font-size: 1.5rem;
        border-radius: 10px;    
        @extend %flex-justify-align-center;
        align-self: center;
    }
    .animation__point-one{
       @extend %soon__animation-one;
    }
    .animation__point-two{
        @extend %soon__animation-two;
     }
     .animation__point-three{
        @extend %soon__animation-three;
     }
   
}
    