%zoom_animation{
    box-sizing: border-box;
    transform: scale(1);
    transition: transform 600ms;
    animation-timing-function: ease-in-out;
    &:hover{
        transform: scale(1.15);
        opacity: 0.5;
    }
}


%move_animation{ // Animation Contactez-nous
    color: $second-color;
    font-size: 18px;
    animation: move__animation__footer 1000ms ease-in-out;
    -moz-animation: move__animation__footer 1000ms ease-in-out;
    -webkit-animation: move__animation__footer 1000ms ease-in-out;
    &:hover{ 
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
    }
}