$main-color:rgba(0,137,123 ,1); // couleur principale le vert
$second-color:rgba(251,192,45 ,1); // Couleur logo, text header 
$bg-menu-enchantee:rgba(255,205,210 , 0.8);
$color-menu-enchantee:rgb(51, 0, 0);
$bg-menu-palette:rgba(232,245,233 ,0.3);
$color-menu-palette:rgb(76, 175, 80);
$bg-menu-chic:rgba(243,229,245 , 0.5);
$color-menu-chic:rgb(255, 152, 0);
$bg-menu-papilles:rgba(227,242,253 , 0.3);
$color-menu-papilles:rgb(33, 150, 243);
$dark-font:800 !important;
$font-kalam: 'Kalam', cursive;
$font-size:(logo:2rem, headingChic:2rem, headingEnchantee:3rem, headingPalette:4rem);



$breakpoints: (
    mobile: 599px
);